@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap")
layer(base);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    font-family: "Raleway", sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
}
[data-aos="my-custom-fade-up"] {
  opacity: 0;
  transform: translateY(100px);
  transition: all 3s ease-out forwards;
}

[data-aos="my-custom-fade-up"].aos-animate {
  opacity: 1;
  transform: translateY(0);
}
[data-aos="my-custom-fade-down"] {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 3s ease-out forwards;
}

[data-aos="my-custom-fade-down"].aos-animate {
  opacity: 1;
  transform: translateY(0);
}
